body {
  background-color: #a3d5d3;
}

#objectinfo {
	position: absolute;
    color: white;
	  top: 10px;
    left:10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
